.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  width: 877px;
  height: 877px;
  background-position: center;
  background-size: 877px 877px;
  right: -210px;
  top: 0;
}
